body {
  height: 100vh;
  /* background-color: rgba(255, 0, 0, 0.6); */
}
.topSection {
  height: 50%;
}

li {
  display: flex;
}
.sesctionSecond {
  /* height: 100%; */
}

.squaresContainer {
  margin-block: 100px;
  display: flex;
  justify-content: space-between;
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: 0.5s;
  position: relative;
}

/* .square:hover {
  background-color: black;
} */

.square:hover + .inside {
  background-color: blue; /* Change to the desired background color */
}
.inside {
  width: 50px;
  height: 50px;
  background-color: black;
}

.tooltip {
  width: 90%;
  height: 20px;
  background-color: blue;
  position: absolute;
  top: -45%;
  text-align: center;
  animation: yy;
  animation-duration: 2;
}

@keyframes yy {
  0% {
    scale: 10%;
  }
  100% {
    scale: 1;
  }
}

.tooltip::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  background-color: blue;
  bottom: -14%;
  left: 10%;
  transform: rotate(45deg);
  z-index: -1;
}

.gridCont {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.cell {
  border: 1px solid black;
  padding: 3rem;

  /* background-color: blue; */
}
